:root {
  /* Navbar */
  --font-color-navbar: #1c1c1c;
  --bg-color-navbar: #f6f9fc;
  --btn-color-navbar: #fc3fd9;

  /* Footer */
  --bg-color-footer: #1c1c1c;
  --bg-containers-footer: #161616;
  --font-color-footer: #f6f9fc;

  /* Candidate status colors */
  --text-status-applied: #00ddff;

  /* Font colors */
  --text-ligth: #f6f9fc;
  --text-dark: #1c1c1c;
  --text-color-3: #fc3fd9;
  --text-color-4: #00ddff;
  --text-color-5: #13ce66;
  --text-color-6: #6c2dea;
  --text-color-7: #fffa01;
  --text-color-message: #d92d20;

  /* Backgrounds */
  --bg-glass: rgba(255, 255, 255, 0.25);
  --bg-ligth: #f6f9fc;
  --bg-dark: #1c1c1c;
  --bg-candidate: #00ddff;
  --bg-company: #6c2dea;
  --bg-admin: #13ce66;
  --bg-offers: #f9a749;

  /* Gradients backgrounds */
  --gradient-candidate:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(
      to top,
      var(--bg-candidate),
      var(--bg-ligth),
      var(--bg-ligth)
    );
  --gradient-company:
    linear-gradient(rgba(255, 255, 255, 0.4)),
    linear-gradient(to top, var(--bg-company), var(--bg-ligth), var(--bg-ligth));
  --gradient-admin:
    linear-gradient(rgba(255, 255, 255, 0.5)),
    linear-gradient(to top, var(--bg-admin), var(--bg-ligth), var(--bg-ligth));
  --gradient-offers:
    linear-gradient(rgba(255, 255, 255, 0.4)),
    linear-gradient(to top, var(--bg-offers), var(--bg-ligth), var(--bg-ligth));

  /* Status backgrounds */
  --bg-status-applied-: #eff8ff;
  --bg-status-shortlisted: #d9f9e5;
  --bg-status-rejected: #fecaca;

  /* Shadows */
  --shadows-candidate: #00ddff;
  --shadows-company: #6c2dea;
  --shadows-admin: #13ce66;
  --shadows-offers: #f9a749;
  --shadow-properties: 0px 4px 20px 0px;

  /* Border radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* Paddings */
  --padding-buttons: 6px 16px;
  --padding-cards: 16px;
  --padding-containers: 24px 32px;
  --padding-form: var(--padding-containers);

  /* Button colors */
  --btn-color-ligth: #f6f9fc;
  --btn-color-dark: #1c1c1c;
  --btn-color-1: #fc3fd9;
  --btn-color-2: #fffa01;
  --btn-color-3: #13ce66;
  --btn-color-4: #d92d20;
}

:where(body, h1, h2, h3, p) {
  margin: 0;
}

main {
  background-attachment: fixed;
}

p {
  line-height: 1.5;
  text-wrap: pretty;
}
