.btnjj {
  border: none;
  border-radius: var(--radius-lg);
  padding: var(--padding-buttons);
  font-size: 1rem;
  cursor: pointer;

  &.btnjj-primary {
    background-color: var(--btn-color-1);
    color: var(--text-light);

    &:hover {
      background-color: var(--btn-color-dark);
    }
  }

  &.btnjj-secondary {
    color: var(--text-light);

    &:hover {
      background-color: var(--btn-color-dark);
    }
  }
}
